.btn, .navigation__item a {
  padding: 10px 20px;
  border: 1px solid #006699;
  border-radius: 20px;
  font-size: .9em;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: none;
  color: #006699;
  -webkit-font-smoothing: antialiased; }
  .btn:hover, .navigation__item a:hover {
    color: #006699;
    border-color: #006699; }

.navigation__item {
  display: inline-block;
  margin: 3px 3px;
  line-height: 1em; }
  .navigation__item a {
    display: block;
    position: relative;
    border-color: #FFF;
    color: #FFF;
    opacity: .8; }
    .navigation__item a:hover {
      color: #FFF;
      border-color: #FFF;
opacity: 1; }

.btn-mobile-menu {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 42px;
  background: rgba(13, 71, 77, 0.98);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center; }

.btn-mobile-menu__icon,
.btn-mobile-close__icon {
  position: relative;
  top: 3px;
  font-size: 36px;
color: #FFF; }