/*
    License: CC-BY-NC-SA 4.0 International
    Red and white , Reimu!
    it's rough now; 
*/

  .navigation__item a {
    color: red;
    background-color: #FFF;
    opacity: .8; 
  }

    .navigation__item a:hover {
      color: rgb(255, 0, 0);
      border-color: red;
    } 

.post-list__divider {
  border-top: 2px solid rgba(255, 0, 0, 0.8); 
}

.content-wrapper {
  background-color: rgba(200, 200, 200, 0.85);
}