<% var hc_post_comments=''; %>
<% if(theme.hc_post_comments) {hc_post_comments= theme.hc_post_comments;} %>
<% if(config.hc_post_comments) {hc_post_comments= config.hc_post_comments;} %>
<% if(page.hc_post_comments) {hc_post_comments= page.hc_post_comments;} %>

<% if(hc_post_comments === 'manual') { %>
    <section class="post-comments">
        <!-- 将评论系统（例如Disqus、友言、畅言等）提供的代码片段粘贴在这里 -->
    </section>
<% } %>

<!-- Gitment Support -->
<% if(hc_post_comments === 'gitment') { %>
  <noscript>Please enable JavaScript to view the comments</noscript>
    <section class="post-comments">
        <div id="gitment-container"></div>
    </section>
<% } %>

<!-- Gitalk Support -->
<% if(hc_post_comments === 'gitalk') { %>
    <noscript>Please enable JavaScript to view the comments</noscript>
    <section class="post-comments">
        <div id="gitalk-container"></div>
    </section>
<% } %>