<% var hc_post_comments=''; %>
<% if(theme.hc_post_comments) {hc_post_comments= theme.hc_post_comments;} %>
<% if(config.hc_post_comments) {hc_post_comments= config.hc_post_comments;} %>
<% if(page.hc_post_comments) {hc_post_comments= page.hc_post_comments;} %>

<% if(hc_post_comments === 'manual') { %>
    <section class="post-comments">
        <!-- 将评论系统（例如Disqus、多说、友言、畅言等）提供的代码片段粘贴在这里 -->
    </section>
<% } %>

<% if(hc_post_comments === 'gitment') { %>
    <section class="post-comments">
        <div id="container"></div>
    </section>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
        const hc_default_theme = {
            render(state, instance) {
                const container = document.createElement('div')
                container.lang = "en-US"
                container.className = 'gitment-container gitment-root-container'
                container.appendChild(instance.renderHeader(state, instance))
                container.appendChild(instance.renderEditor(state, instance))
                container.appendChild(instance.renderComments(state, instance))
                return container
            },
            }

      var gitment = new Gitment({
        owner: '<%- theme.hc_gitment_config.owner %>',
        repo: '<%- theme.hc_gitment_config.repo %>',
        oauth: {
          client_id: '<%- theme.hc_gitment_config.oauth.client_id %>',
          client_secret: '<%- theme.hc_gitment_config.oauth.client_secret %>',
        },
        theme: hc_default_theme
      })
      gitment.render('container');
    </script>

<% } %>