<footer class="footer">

    <span class="footer__copyright">&copy; 2016-2018. | 由<a href="https://hexo.io/">Hexo</a>强力驱动 | 主题:huno-clsblog (Customed from/定制于: <a href="https://github.com/letiantian/huno">Huno</a>,by letiantian)</span>
    
</footer>